@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.general-a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pass{
    width: 45%;
}

a{
    text-decoration: none;
    display: inline-bloc;
    width: auto;
    text-align: center;
    color: #fce38a;
}

a::after{
    transition: all 0.5s;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    transform-origin: 50%;
    transform: scalex(0);
    background-color: #f38181;
}

a:hover::after{
    transform: scalex(1);
}

.general-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.haed1{
    color: #95e1d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head2{
    margin: 0px;
    text-align: center; 
    color: black;
}

.text1{
    font-family: 'Courgette', cursive;
}

.underline{
    width: 50px;
    height: 3px;
    background-color: #f38181;
}
